/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: #083b4c;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex {
    display: flex;
}

/* MAIN */
.title {
    color: white;
    font-size: 25px;
    padding: 20px 0;
}

.container-box {
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 10px;
    justify-content: center;
    align-items: center;
}